.flex {
    display: flex;
    flex-direction: column;
   background-color: #ededed;
    width: 80%;
    margin: 100px auto;
   }

.flex__item {
    
    background-color: #ffffff;
    padding: 20px;
    margin: 5px 0;
}

.flex__item--size {
padding: 0px 20px;
}